.vscode/settings.json
fra-eng/_about.txt
fra-eng/fra.txt
.data
s2s.h5
data
deep-learning-from-scrach-2
DL_from_scrach/dataset
*.pyc
*.npy
ptb.*
*.pkl
*.xml
*.pt
.idea
/deep-learning-from-scratch-2/dataset/ptb.train.npy
/deep-learning-from-scratch-2/dataset/ptb.train.txt
/deep-learning-from-scratch-2/dataset/ptb.vocab.pkl
/model/*.pth

data

/code/*.out
/code/*.log